<div class="col px-3">
  <div class="h-100 shadow px-3 py-5">

    {% assign icon = 'feature_' | append: include.position | append: '.svg' %}
    {% include {{ icon }} %}

    <h3>{{ include.headline }}</h3>

    <div class="content">
      {{ include.content | markdownify }}
    </div>
  </div>
</div>
