{%- assign t = site.data[site.lang] -%}

<footer class="background-primary white pt-5">
  <div class="container">
    <div class="row row-cols-1 row-cols-md-3">
      <div class="col">
        <h3 class="white pb-3">{{ t.footer_learn_more_headline }}</h3>

        <ul class="list-unstyled">
          {% for item in (1..t.footer_learn_more_list) %}
            {% assign item_key = 'footer_learn_more_list_' | append: item %}
            {% assign content_key = item_key | append: '_content' %}
            {% assign content = t[content_key] %}
            {% assign url_key = item_key | append: '_url' %}
            {% assign url = t[url_key] %}

            <li class="pb-3">
              <a
                {% if url contains '://' %}
                  target="_blank"
                  rel="noopener noreferrer"
                {% endif %}
                class="white"
                href="{{ url }}">
                {{ content }}
              </a>
            </li>
          {% endfor %}
        </ul>
      </div>

      <div class="col">
        <h3 class="white pb-3">{{ t.footer_free_software_headline }}</h3>

        {{ t.footer_free_software_content | markdownify | replace: '<a ', '<a class="white" ' }}
      </div>

      <div class="col">
        <div class="mb-3">
          {% include google_play.html %}
        </div>

        <div>
          {% include app_store.html %}
        </div>
      </div>
    </div>
  </div>

  <div class="background-footer">
    <div class="container py-3 content">
      {{ t.copyright | markdownify }}
    </div>
  </div>
</footer>
