{%- if include.width or include.height -%}
  {%- assign src = include.src | thumbnail: include.width, include.height -%}
{% else %}
  {%- assign src = include.src -%}
{% endif %}

{%- assign hidpi_width = nil -%}
{%- assign hidpi_height = nil -%}

<picture>
  {%- if include.hidpi_src -%}
    <source srcset="{{ include.hidpi_src }} 2x" />
  {%- else -%}
    {%- if include.width -%}
      {%- assign hidpi_width = include.width | times: 2 -%}
    {%- endif -%}

    {%- if include.height -%}
      {%- assign hidpi_height = include.height | times: 2 -%}
    {%- endif -%}

    {%- if hidpi_width or hidpi_height -%}
      <source srcset="{{ include.src | thumbnail: hidpi_width, hidpi_height }} 2x" />
    {%- endif -%}
  {%- endif -%}

  <img
    {% if include.hidden %}aria-hidden="true"{% endif %}
    src="{{ src }}"
    width="{{ src | width }}"
    height="{{ src | height }}"
    alt="{{ include.alt }}"
    class="{{ include.class }}"
    loading="lazy"
    />
</picture>
