<div class="border rounded-pill border-primary primary p-1 d-flex justify-content-around align-items-center">
  {% for locale in site.locales limit: 2 %}
    {%- include locale.html page=include.page locale=locale class='rounded-pill p-2 font-weight-bold' active_class='background-secondary white' -%}
  {% endfor %}

  {% if site.locales.size > 2 %}
    <input type="checkbox" class="toggler" id="locales" autocomplete="off" />
    <label for="locales" class="btn font-weight-bold m-0">
      <span aria-hidden="true">
        {% include_relative assets/images/plus.svg %}
      </span>
      <span class="sr-only">{{ t.more_locales }}</span>
    </label>

    <div class="toggled top-navbar position-fixed left-0 p-2 w-100">
      <div class="rounded background-white p-3">
        <p class="font-weight-bold f-bigger primary mb-2">{{ t.locale_available }}</p>

        {% for locale in site.locales offset: 2 %}
          {%- assign class = 'd-block' -%}
          {%- unless forloop.last -%}
            {%- assign class = class | append: ' mb-2' -%}
          {%- endunless -%}
          {%- include locale.html page=include.page locale=locale class=class active_class='font-weight-bold' -%}
        {% endfor %}
      </div>
    </div>
  {% endif %}
</div>
