{%- assign t = site.data[site.lang] -%}

<nav class="background-white w-100 p-2 fixed-sm-top">
  <div class="container-md">
    <div class="d-flex align-items-center justify-content-between navbar-light navbar-expand-md">
      <div class="">
        <a href="?#">
          <div class="d-md-none">
            {%- include img.html hidden=true src='assets/images/logo.png' width=52 -%}
          </div>

          {%- include img.html hidden=true src='assets/images/circulo-logo-hor.png' hidpi_src='assets/images/circulo-logo-hor@2x.png' class='d-none d-md-block' height=52 -%}

          <span class="sr-only">{{ t.website_name }}</span>
        </a>
      </div>

      <input type="checkbox" class="toggler" id="menu" autocomplete="off" />
      <label for="menu" class="d-md-none m-0">
        <span aria-hidden="true" class="navbar-toggler-icon w-3"></span>
        <span class="sr-only">{{ t.menu }}</span>
      </label>

      <div class="toggled visible-md top-navbar top-md-0 position-fixed position-md-relative left-0 p-2 w-100 w-md-auto">
        <div class="rounded background-white p-3 p-md-0 d-md-flex align-items-center">
          {% include community_resources.html page=page t=t %}

          <div class="d-none d-md-block">
            {% include locales.html page=page t=t %}
          </div>

          <div class="d-md-none mt-3">
            <p class="font-weight-bold f-bigger primary mb-2">{{ t.locale_available }}</p>

            {% for locale in site.locales %}
              {%- assign class = 'd-block' -%}
              {%- unless forloop.last -%}
                {%- assign class = class | append: ' mb-2' -%}
              {%- endunless -%}
              {%- include locale.html page=page locale=locale class=class active_class='font-weight-bold' -%}
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>
