/// Reutilize Bootstrap mixins for defining classes.
/// Handpicked from sutty-base.
@each $breakpoint in map-keys($grid-breakpoints) {
  @include media-breakpoint-up($breakpoint) {
    $infix: breakpoint-infix($breakpoint, $grid-breakpoints);

    .text-decoration#{$infix}-underline { text-decoration: underline !important; }

    .z-index#{$infix}-1 { z-index: 1; }
    .border-lg { border-width: 4px !important; }

    .hover-text-decoration-none {
      &:hover {
        text-decoration: none !important;
      }
    }

    .focus-within {
      &.focused,
      &:active,
      &:focus,
      &:focus-within {
        .focus#{$infix}-font-weight-bold {
          font-weight: bold !important;
        }
      }
    }

    $objects: (contain, cover, fill, none, scale-down);
    @each $object in $objects {
      .fit#{$infix}-#{$object} {
        object-fit: #{$object};
      }
    }

    $snap-types: (none, mandatory, proximity);
    $snap-directions: (y, x);
    $snap-points: (start, end, center, none);

    @each $snap-type in $snap-types {
      @each $snap-direction in $snap-directions {
        .snap-#{$snap-type}#{$infix}-#{$snap-direction} {
          scroll-snap-points-#{$snap-direction}: repeat(100%);
          scroll-snap-destination: 0 0;

          @each $prefix in $vendor-prefixes {
            #{$prefix}scroll-snap-type: #{$snap-direction} #{$snap-type};
            #{$prefix}scroll-snap-type: #{$snap-type};
          }

          @each $snap-point in $snap-points {
            & > .snap-#{$snap-point} {
              scroll-snap-align: #{$snap-point};
            }
          }
        }
      }
    }

    .no-scrollbar#{$infix} {
      scrollbar-width: none;
      -webkit-overflow-scrolling: touch;

      &::-webkit-scrollbar { display: none; }
    }

    .d#{$infix}-grid {
      display: grid !important;

      @each $spacer, $_ in $spacers {
        &.grid-cols#{$infix}-#{$spacer} {
          grid-template-columns: repeat($spacer, 1fr) !important;
        }

        & > .grid-row#{$infix}-#{$spacer} {
          grid-row: $spacer !important;
        }

        & > .grid-col#{$infix}-#{$spacer} {
          grid-column: $spacer !important;
        }

        @each $spacer_to, $_ in $spacers {
          & > .grid-col#{$infix}-#{$spacer}-to-#{$spacer_to} {
            grid-column: #{$spacer} / #{$spacer_to} !important;
          }
        }
      }
    }

    @each $spacer, $length in $spacers {
      $directions: (top, right, bottom, left);
      @each $direction in $directions {
        .#{$direction}#{$infix}-#{$spacer} {
          #{$direction}: $length
        }
      }

      .f#{$infix}-#{$spacer} {
        font-size: $length !important;
      }
    }

    @each $color, $rgb in $colors {
      .focus-within {
        &.focused,
        &:active,
        &:focus,
        &:focus-within {
          .focus#{$infix}-border-#{$color} {
            border-color: $rgb !important;
          }
        }
      }

      .background#{$infix}-#{$color} {
        background-color: $rgb !important;
      }

      .#{$color}#{$infix} {
        color: $rgb !important;
      }

      .border#{$infix}-#{$color} {
        border-color: $rgb !important;
      }
    }

    @each $prop, $abbrev in (width: w, height: h) {
      @each $size, $length in $sizes {
        .#{$abbrev}#{$infix}-#{$size} { #{$prop}: $length !important; }
        .#{$abbrev}#{$infix}-#{$size} { #{$prop}: $length !important; }
        .min-#{$abbrev}#{$infix}-#{$size} { min-#{$prop}: $length !important; }
        .max-#{$abbrev}#{$infix}-#{$size} { max-#{$prop}: $length !important; }
      }
    }

    $positions: static, relative, absolute, fixed, sticky;
    @each $position in $positions {
      .position#{$infix}-#{$position} { position: $position !important; }
    }

    .fixed#{$infix}-top {
      position: fixed;
      top: 0;
      right: 0;
      left: 0;
      z-index: $zindex-fixed;
    }

    .sticky#{$infix}-top {
      @supports (position: sticky) {
        position: sticky;
        top: 0;
        z-index: $zindex-sticky;
      }
    }

    $alignments: left, right, center;
    @each $alignment in $alignments {
      .text#{$infix}-#{$alignment} {
        text-align: $alignment;
      }
    }

    $overflows: (auto, hidden, scroll);
    $overflow-axis: (x, y);
    @each $overflow in $overflows {
      .overflow#{$infix}-#{$overflow} {
        overflow: $overflow !important;
      }

      @each $axis in $overflow-axis {
        .overflow-#{$axis}#{$infix}-#{$overflow} {
          overflow-#{$axis}: $overflow !important;
        }
      }
    }

    .visible#{$infix} {
      visibility: visible !important;
    }

    .invisible#{$infix} {
      visibility: hidden !important;
    }
  }
}

/// The last element shouldn't affect the container's padding.
.content {
  & > * {
    &:last-child {
      @extend .mb-0;
    }
  }
}

details {
  & > summary {
    .show-when-opened {
      @extend .d-none;
    }

    .show-when-closed {
      @extend .d-inline;
    }
  }

  &[open] {
    & > summary {
      .show-when-opened {
        @extend .d-inline;
      }

      .show-when-closed {
        @extend .d-none;
      }
    }
  }
}

input[type="checkbox"].toggler {
  opacity: 0;
  position: absolute;

  & + label + .toggled {
    z-index: 10;
    visibility: hidden;
  }

/// Al tocar el `<input>`, mostramos el elemento oculto.
  &:checked + label + .toggled {
    visibility: visible;
  }

  & + label {
    border: none;
    outline: none;
    z-index: 11;
  }

/// Dar una guía visual de que estamos enfocando el `<input>`,
/// trasladando el mismo estilo a su `<label>`
  &:focus + label {
    outline: 1px dotted grey ;
  }
}
