---
---

/// Redefine Bootstrap variables before importing
/// @see node_modules/bootstrap/scss/_variables.scss
$vendor-prefixes: ("", "-webkit-", "-ms-", "-o-", "-moz-");
$primary: {{ site.primary }};
$secondary: {{ site.secondary }};
$jumbotron-bg: {{ site.background }};
$headings-color: $primary;
$headings-font-weight: 700;
$gray-100: #FAFAFA;
$gray-600: #545454;
$border-radius: 1.12rem;
$border-width: 2px;
$font-family-sans-serif: Inter, sans-serif;
$headings-font-family: Poppins, sans-serif;
$lead-font-weight: 400;
$enable-responsive-font-sizes: true;
// The opposite direction of box-shadow
$box-shadow-sm: 0 -.5rem 1rem rgba(#000, .15) !default;
$navbar-light-toggler-icon-bg: url("data:image/svg+xml,<svg viewBox='0 0 17 14' width='17' height='14' fill='none' xmlns='http://www.w3.org/2000/svg'><path d='M10.938 13.125h-10a.938.938 0 0 1 0-1.875h10a.938.938 0 0 1 0 1.875Zm5.937-6.563a.938.938 0 0 0-.938-.937h-15a.937.937 0 1 0 0 1.875h15a.937.937 0 0 0 .938-.938Zm-5-5.625A.938.938 0 0 0 10.937 0h-10a.938.938 0 0 0 0 1.875h10a.937.937 0 0 0 .938-.938Z' fill='#000'/></svg>");
$navbar-light-toggler-border-color: none;
$navbar-height: 84px;
$small-font-size: 75%;
$btn-line-height: 1;

$colors: (
  "black": #000,
  "gray-light": $gray-100,
  "primary": $primary,
  "secondary": $secondary,
  "background": $jumbotron-bg,
  "background-lighter": rgba(250, 242, 234, .4),
  "border": #EBE9E7,
  "footer": #231558,
);

$embed-responsive-aspect-ratios: (
  (25 18),
);

$sizes: (
  3: 1rem,
  30vh: 30vh,
  50vh: 50vh,
  70vh: 70vh,
  80vh: 80vh,
  100vh: 100vh,
  500px: 500px,
  80: 80%,
  90: 90%,
  41px: 41px
);

$spacers: (
  bigger: 1.125rem,
  6: 6rem,
  10: 10rem,
  20: 20%,
  40: 40%,
  "navbar": $navbar-height
);

$h1-font-size: 3.75rem;
$h2-font-size: 2.62rem;
$h3-font-size: 1.5rem;

@import "bootstrap/scss/bootstrap";
@import "helpers";
@import "fonts";

html, body {
  scroll-padding-top: $navbar-height;
}
