---
layout: default
---

{%- assign t = site.i18n -%}

<section class="w-100 min-h-100vh background-background-lighter pt-3 pt-md-5 px-3">
  <article class="max-w-500px container rounded background-white shadow">
    <header class="d-flex flex-column justify-content-center align-items-center pt-5">
      <div class="mb-3">
        {%- include img.html hidden=true src='assets/images/logo.png' width=72 -%}
      </div>

      <h1 class="h2 text-center">{{ page.title }}</h1>
    </header>

    <div class="border-bottom border-border content mx-auto primary text-center pb-4">
      {{ page.description | markdownify }}

      <div class="pt-3 mb-2">
        {% include google_play.html width=192 %}
      </div>

      {% include app_store.html width=192 %}

    </div>

    <footer class="pb-4">
      <details class="">
        <summary class="primary list-unstyled text-center py-3">
          <span class="show-when-closed">{{ t.invitation_more_options }}</span>
          <span class="show-when-opened">{{ t.invitation_less_options }}</span>
        </summary>

        <div class="text-center">
          <a download target="_blank" rel="noopener noreferrer" href="{{
            t.direct_download_url }}" class="btn border rounded-pill border-secondary secondary px-4">
            <span class="d-flex flex-row align-items-center">
              {%- include img.html src='assets/images/download.png' width=21 hidden=true class='mr-2' -%}

              <span class="secondary">
                <span class="text-uppercase poppins-semi-bold">{{ t.direct_download_content }}</span>

                <br/>

                {{ t.direct_download_help }}
              </span>
            </span>
          </a>
        </div>
      </details>
    </footer>
  </article>

  <footer class="w-100 text-center pt-3 pt-md-5">
    <a href="" class="btn rounded-pill background-background font-weight-bold secondary px-4">
      {{ t.invitation_call_to_action }}
    </a>
  </footer>
</section>
